@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@/assets/styles/base.css';
@import '@/assets/styles/animation.less';

:root {
  --color-primary-1: @color-primary-1;
  --color-primary-2: @color-primary-2;
  --color-secondary-danger: @color-secondary-danger;
  --color-secondary-waring: @color-secondary-waring;
  --color-secondary-green: @color-secondary-green;
  --color-secondary-purple: @color-secondary-purple;
  --color-border-1: @color-border-1;
  --color-cancel: @color-cancel;
  --color-dark-1: @color-dark-1;
  --color-dark-bg-1: @color-dark-bg-1;
  --color-dark-bg-2: @color-dark-bg-2;
  --color-text-dark-1: @color-text-dark-1;
  --color-hover-gray: @color-hover-gray;
  --color-border-white-opacity: @color-border-white-opacity;
  --color-bg-black-opacity: @color-bg-black-opacity;
  --linear-primary: linear-gradient(267.71deg, #0348ff 0%, #1781ef 100%);
}

input {
  background: none;
  outline: 0;
  border: 0;
}

* {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif;
}

.semi-typography {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif !important;
}

body {
  color: white;
  width: 100vw !important;

  &[theme-mode='dark'] {
    // --semi-color-focus-border: @color-primary-2;
  }
}

.wrap-container {
  padding-left: 80px;
  padding-right: 80px;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1023px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.semi-icon.hover {
  cursor: pointer;

  &:hover {
    color: rgb(156 163 175);
  }
}

.bg-primary-linear {
  background-image: var(--linear-primary);
}

.semi-modal-content {
  background-color: white !important;
  color: black;
}

.semi-placeholder-gray {
  input::placeholder {
    color: rgb(0 0 0 / 40%);
  }
}

.semi-modal {
  @media (max-width: 768px) {
    width: 90vw;
    margin-left: 5vw;
    position: relative;
    top: 3rem;
  }
}

.prime-button {
  background: linear-gradient(267.71deg, #0348ff 0%, #1781ef 100%);
  border-radius: 40px;
}