@color-primary: #7B61FF;
@color-cancel: #49506C;
@color-dark-1: #191B23;

@color-dark-bg-1: #32374A;
@color-dark-bg-2: #282C3E;

@color-text-dark-1: #646B88;

:root {
  --color-primary: @color-primary;
  --color-cancel: @color-cancel;
  --color-dark-1: @color-dark-1;
  --color-dark-bg-1: @color-dark-bg-1;
  --color-dark-bg-2: @color-dark-bg-2;
  --color-text-dark-1: @color-text-dark-1;
}